{% extends "main/main_base_new.html" %}

{% block content %}
    <form name="key-form" class="ajax-form inline-form">
        {% csrf_token %}
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored ajax-submit">
          <i class="material-icons">find_in_page</i>
        </button>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input type="text" class="mdl-textfield__input parse-input" name="keys" id="sample4" style="color: white;">
            <label class="mdl-textfield__label" for="sample4" style="color: white;">Наименование...</label>
        </div>
        <div class="mdl-spinner mdl-js-spinner"></div>
    </form>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored add-goose-button">
      <i class="material-icons">add</i>
    </button>
    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored refresh-checked-button">
      <i class="material-icons">refresh</i>
    </button>
    <div class="mdl-grid sticky" >
        <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-card mdl-shadow--6dp " >
                <div class="mdl-grid goose-bar" style="width: 100%">

                </div>
            </div>
        </div>
    </div>
    {% include "iron_parser/modal_create_goose.html" %}


    <div class="">
        <div class="parse-container">

        </div>
    </div>





{% endblock %}

