<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница авторизации.</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery-3.4.1.js"></script>

</head>
<body>
    <div class="container-main">
        <div class = "container-header">


        </div>
        <div class = "container-main">
            {% block entry %}
            {% endblock entry %}

            {% block registration %}
            {% endblock registration %}


        </div>
        <div class = "container-footer">

        </div>
    </div>
<script src="/static/js/reg_submit.js"></script>
</body>
</html>